.logo {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}

@media (max-width: 1200px) {

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}